site_name: Michael Francazzi
site_description: Personal Portfolio - Michael Francazzi
site_author: Michael Francazzi
site_url: https://michaelfrancazzi.com/
repo_url: https://github.com/MikeFrank99/MikeFrank99.github.io

theme:
  name: material
  language: it
  icon:
    logo: material/circle
    favicon: material/circle
  features:
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: white
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono

extra_css:
  - stylesheets/extra.css

plugins:
  - search

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - HOME: index.md
  - PROGETTI: progetti/index.md
  - CHI SONO: chi-sono.md
  - CONTATTI: contatti.md
